<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Monologue</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <script src="app-cowboy.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Monologue</a>
        </div>
      </div>
    </div>
    <div class="container">
      <form id="new-status">
        <label for="status_text">Status</label>
        <textarea id="status_text" name="status" placeholder="What are your inner most thoughts?"></textarea>
        <button type="submit" class="btn">Post Update</button>
      </form>

      <ul id="statuses">

      </ul>
    </div>
  </body>
</html>
